.text_widget {
    width: 100%;
    margin: 10px 4px 4px 4px !important;
}

.indicator {
    text-align: right;
}

.post_btn {
    padding-left: 45px;
}

.post_comment {
    font-size: 20px;
}

.icon-size-large {
    font-size: 32px;
}