$radius: 4px;
$color: blue;
$width: 400px;
$link_width: $width - 86;
$height: 400px;
$border: 1px solid;

$media: only screen;
$iphone-min-width: 320px;
$iphone-max-width: 480px;
$ipad-min-width: 768px;
$ipad-max-width: 1024px;

.rounded {
    border-radius: $radius;
}

.border {
    border: $border;
}

.widget_box {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 98%;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
    }

    float: center;
    position: relative;
    margin: auto;

    width: $width + 50;
    height: $height + 50;

    background-color: lighten($color, 100%);
}

@mixin widget {
    margin: 20px;
}

.comment_widget_text {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        font-size: 36px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        font-size: 24px;
    }

    margin-top: 0px;
    margin-bottom: 0px;
}

.comment_widget_checkbox {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 42px;
        height: 42px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 30px;
        height: 30px;
    }
}

.word_count_widget {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
        font-size: 36px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        font-size: 24px;
    }

    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    width: $width;
}

.post_result_widget {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
    }

    margin-top: 0px;
    margin-bottom: 3px;
    text-align: center;
    display: none;
    width: $width;
}

.text_widget {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
        height: 680px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        height: 768px;
    }

    margin-bottom: 5px;
    width: $width;
    height: $height;
    horizontal-align: center;
    vertical-align: middle;
}

.post_widget {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
        font-size: 28px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        font-size: 18px;
    }

    margin-top: 0px;
    margin-bottom: 0px;
    width: $width;
    horizontal-align: center;
}

.link_box {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
    }

    margin-top: 0px;
    margin-bottom: 0px;
    width: $width;
}

.success_box {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
        font-size: 28px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        font-size: 18px;
    }

    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: $radius;
    border: $border;
    border-color: lighten(#66CC00,8%);
    background-color: lighten(#99FF66,20%);
    width: $width;
}

.failed_box {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 95%;
        font-size: 28px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        font-size: 18px;
    }

    margin-top: 0px;
    margin-bottom: 3px;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: $radius;
    border: $border;
    border-color: lighten(#FF0000,25%);
    background-color: lighten(#FF6666,20%);
    width: $width;    
}

.link_url {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 80%;
        font-size: 28px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 85%;
        font-size: 18px;
    }

    margin: 3px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    align: center;
    width: $link_width;
}

.link_btn {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        width: 20%;
        font-size: 28px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        width: 15%;
        font-size: 18px;
    }

    margin: 3px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 0px;
    align: center;
    width: 80px;
}

.sns_link {
    @media #{$media} and (min-device-width: $iphone-min-width) and (max-device-width: $iphone-max-width) {
        font-size: 36px;
    }

    @media #{$media} and (min-device-width: $ipad-min-width) and (max-device-width: $ipad-max-width) {
        font-size:24px;
    }
}